#mainNav {
  
    background-color: #1cafdbee;
    color: white;
  }

#bio2 {
      padding-right: 20px;
      
  }

#bio1 {
      padding-top: 25px;
      padding-right: 20px;
  }



#mountainsImage {
    opacity: .8;
}

#contactLinks {
  text-align: center;
}

.masthead {
  background-image: url("./Images/NZ2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 5%;
  height: 800px;
}

.intro-text {
  text-align: center;
  background: white;
  opacity: .9;
  color: black;
  font-weight: 300;
  margin-top: -50px;
}

header.masthead {
   padding-top:200px;
   padding-bottom:100px;
  }
  
  #projectRow, #contact, #projectContainer, #services {
    padding: 25px;

  }

  footer {
    padding: 20px;
    text-align: center;
    line-height: 200%;
  }
