#nav {
    margin-top: 50px;
    background-color: #4a148c;
  }

#bio2 {
      padding-right: 20px;
      
  }

#bio1 {
      padding-top: 50px;
      padding-right: 20px;
  }

  a:hover {
      color: #b39ddb;
      
      
  }

a:active {
    color: #4a148c;
    background-color: #f3e5f5;
}

a:active {
    color: #f3e5f5;
    background-color: #4a148c;
}

h4 {
    font-family: 'Satisfy', cursive;
}
